body, #App{
  overscroll-behavior: none;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: hidden;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

html{
  --backColor: #171616;
  --hoverColor: #272626;
  --selectColor: #f3c623;
  --alertColor: #ee2b11;
  --healColor: #83d834;
  --backColorTransparent: #171616f6;
  --radius: 5px;
}

#App{
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}

#side{
  position: absolute;
  background-color: var(--backColorTransparent);
  padding: 15px;
  padding-bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 4px 0px 4px rgba(0,0,0,.25);
  width: 250px;
  height: calc(100vh - 95px);
  z-index: 10;
  left: 0px;
  transition: left .1s ease-in-out;
}

.hiddenMenu{
  left: -281px !important;
  pointer-events: none;
}

#main{
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

#nameTitle{
  margin-top: 0;
  color: var(--selectColor);
}

#enterButton{
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: white;
  color: var(--backColor);
  font-size: 15px;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
}

#masterButton{
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: white;
  color: var(--backColor);
  font-size: 15px;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

#newEnemyButton, #newSpeciesButton{
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: var(--backColor);
  color: white;
  font-size: 25px;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

#newEnemyButton:hover, #newSpeciesButton:hover{
  background-color: var(--hoverColor);
}

button::selection, circle::selection, svg::selection{
  background: transparent;
  outline: none;
}

#selectionBox{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  background-color: var(--backColorTransparent);
  color: white;
  border-radius: var(--radius);
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  line-height: 2.5em;
  box-shadow: 2px 3px 4px rgba(0,0,0,.25);

  transition-property: opacity;
  transition-duration: .05s;
  transition-timing-function: linear;

}

#selectionBoxButtons{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.selectionBoxButton{
  height: 30px;
  padding: 5px;
  line-height: 30px;
  border-radius: var(--radius);

  font-weight: bold;
  color: white;

  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  box-shadow: 2px 3px 4px rgba(0,0,0,.25);
  transition-property: opacity;
  transition-duration: .05s;
  transition-timing-function: linear;
}

#selectionDamageButton{
  background-color: var(--alertColor);
}

#selectionHealButton{
  background-color: var(--healColor);
}

#selectedHp, #selectedCa{
  float: right;
}

.playerItem, .enemyItem{
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerItemSelected, .enemyItemSelected{
  background-color: var(--selectColor) !important;
  color: var(--backColor);
}

.playerItem:hover, .enemyItem:hover{
  background-color: var(--hoverColor);
}

.playerCircle{
  cursor: pointer;
}

.playerCircleTransition{
  transition-property: cx, cy;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.playerCircleText{
  cursor: pointer;
  transition-property: x, y;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out, ease-in-out;
  font-size: 25px;
  font-weight: bold;
}

.selectedCircle{
  stroke: var(--backColor);
  stroke-width: 5px;
}

/*.selectedCircleText{
  fill: var(--selectColor);
}*/

.titleColor{
  color: var(--titleColor);
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 100%;
	height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

#color-picker-wrapper {
  float: left;
  width: 100%;
  margin-top: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}

#menuButton{
  background-color: var(--selectColor);
  color: var(--backColor);
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 30px;
  padding: 5px;
  line-height: 30px;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  z-index: 11;
}

.selectText{
  color: var(--selectColor);
}

#backModal{
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#modalPlusButton, #modalMinusButton, #modalOkButton{
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px;

  background-color: var(--selectColor);
  color: var(--backColor);
  border-radius: var(--radius);
  font-weight: bold;
  font-size: 25px;
  
  cursor: pointer;
  display: inline-block;

  text-align: center;

  margin-top: 20px;
}

#modalOkButton{
  margin-top: 20px;
}

#modalLabel{
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px;

  color: white;
  border-radius: var(--radius);
  font-size: 25px;
  font-weight: bold;

  display: inline-block;
  text-align: center;
}

#Modal, #NameModal{
  width: 300px;
  height: 180px;

  margin-left: calc((100vw - 300px) / 2);
  margin-right: calc((100vw - 300px) / 2);

  margin-top: calc((100vh - 180px) / 3);

  padding-top: 15px;

  background-color: var(--backColor);
  text-align: center;

  border-radius: var(--radius);
}

#NameModal{
  width: 300px;
  height: 110px;

  margin-left: calc((100vw - 300px) / 2);
  margin-right: calc((100vw - 300px) / 2);

  margin-top: calc((100vh - 110px) / 3);

  padding-top: 15px;

  background-color: var(--backColor);
  text-align: center;

  border-radius: var(--radius);
}

#SpeciesModal{
  width: 300px;
  height: 220px;

  margin-left: calc((100vw - 300px) / 2);
  margin-right: calc((100vw - 300px) / 2);

  margin-top: calc((100vh - 220px) / 3);

  padding-top: 15px;

  background-color: var(--backColor);

  border-radius: var(--radius);
}

.speciesHp, .speciesCA{
  float: right;
}


.speciesName{
  float: left;
  line-height: 40px;
  font-weight: bold;
}

.speciesItem{
  width: calc(100% - 10px);
  height: 40px;
  border: 0;
  border-radius: var(--radius);
  outline: 0;
  background-color: var(--backColor);
  color: white;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
}

.speciesItem:hover{
  background-color: var(--hoverColor);
}

#speciesModalTextbox, #nameModalTextbox{
  width: calc(100% - 35px);
  border: 0;
  border-radius: var(--radius);
  height: 30px;
  line-height: 30px;
  background-color: var(--hoverColor);
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

#speciesModalHpLabel, #speciesModalCALabel{
  margin-left: 15px;
  margin-top: 0px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

#speciesModalHp, #speciesModalCA{
  display: inline-block;
  line-height: 35px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 60px;
}

.speciesModalMinus, .speciesModalPlus{
  display: inline-block;
  background-color: var(--selectColor);
  color: var(--backColor);
  height: 40px;
  width: 35px;
  line-height: 35px;
  font-size: 25px;
  font-weight: bold;
  border-radius: var(--radius);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  text-align: center;
}

#speciesModalOkButton{
  display: inline-block;
  background-color: var(--selectColor);
  color: var(--backColor);
  height: 40px;
  width: calc(100% - 30px);
  line-height: 35px;
  font-weight: bold;
  border-radius: var(--radius);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}